div.stars {
  width: 270px;
  /* display: flex; */

  border: 1px solid black;
}

input.star { display: none; }

label.star {
  float: left;
  padding: 10px;
  font-size: 25px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

/* input.star-5:checked ~ label.star:before { */
/*   color: #FE7; */
/*   text-shadow: 5px; */
/* } */

/* input.star-1:checked ~ label.star:before { color: #F62; } */

label.star:hover { transform: rotate(-5deg) scale(1.3); }

label.star:before {
  content: '\00B7';
}


.nearby-list table td {
	padding: 0px 10px;
}


.star-string {
	color: #1a5fb4;
	font-size: 1.4em;

}




body {
	--bg-color: #44BBEE;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	font-family: sans-serif;
	background: var(--bg-color);

	padding: 0.5rem;
}


main {
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;

	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;

}

header.header {
	text-align: center;
	background: var(--bg-color);
	color: #FFF;
}

header.header h1 {
	/* margin-bottom: 0.5rem; */
}

.header h2 {
	margin-bottom: 0.5rem;
	margin-top: 0;
}


.button-deck {
	display: flex;
	justify-content: space-evenly;

	background: var(--bg-color);
	/* padding: 1rem; */
	height: 4rem;
	align-items: center;

	color: #FFF;
}

.button-deck button {
	width: 40%;
	height: 30px;
}

ul.nearby-wcs {
		padding-left: 0;
		font-size: 1.2em;
}

ul.nearby-wcs li{
		list-style: none;
}



.button-deck[data-state="default"] :not(.state-default ){
	display: none;	
}

.button-deck[data-state="add"] :not(.state-add ){
	display: none;	
}

.button-deck[data-state="find"] :not(.state-find ){
	display: none;	
}


.add-review[data-state="default"] :not(.state-default) {
	display: none;
}

.add-review[data-state="form"] > :not(.state-form) {
	display: none;
}

.reviews .wc-review {
	border-bottom: 1px solid #AAAAAA;
	 
	padding: 0.5rem 0;
}




.map--focus {
	height: 100%;
}

.map--main {
	height: 80vh;
	/* width: 100%; */
}

.map-container {
	width: 100%;
	height: 20vh;
	margin-bottom: 3rem;
}
