#mapid { height: 80vh; }

body {
	--bg-color: #33AAEE;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	font-family: sans-serif;
	background: var(--bg-color);
}

header.header {
	text-align: center;
	background: var(--bg-color);
	color: #FFF;
}

header.header h1 {
	margin-bottom: 0.5rem;
}

.header h2 {
	margin-bottom: 0.5rem;
	margin-top: 0;
}


.button-deck {
	display: flex;
	justify-content: space-evenly;

	background: var(--bg-color);
	/* padding: 1rem; */
	height: 4rem;
	align-items: center;

	color: #FFF;
}

.button-deck button {
	width: 40%;
	height: 30px;
}

ul.nearby-wcs {
		padding-left: 0;
		font-size: 1.2em;
}

ul.nearby-wcs li{
		list-style: none;
}



.button-deck[data-state="default"] :not(.state-default ){
	display: none;	
}

.button-deck[data-state="add"] :not(.state-add ){
	display: none;	
}

.button-deck[data-state="find"] :not(.state-find ){
	display: none;	
}
